.main-navigation {
  display: flex;
  justify-content: flex-end;   
  align-items: center;
  color: hsl(var(--clr-white));

  &__site-list {
    padding: 0;
    margin: 0;
    display: none;
    list-style: none;

    @media (min-width: 1024px) {
      display: flex;
    }
  }

  &__site-item:not(:last-child) {
    margin-right: 3rem;
  }

  &__site-link {
    font-size: 0.8rem;
    font-weight: 800;
    text-decoration: none;
    color: currentColor;
  }

  &__contact-list {
    padding: 0;
    margin: 0;
    display: none;
    list-style: none;

    @media (min-width: 1024px) {
      display: flex;
    }
  }

  &__contact-item:not(:last-child) {
    margin-right: 3rem;
  }

  &__contact-link {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 800;
    text-decoration: none;
    color: currentColor;
}

  &__contact-icon {
    margin-right: 1rem;
  }

  &__button {
    padding: 0;
    border: 0;
    background-color: transparent;
    color: unset;
  }

  svg {
    fill: currentColor;
  }


  @media (min-width: 1024px) {
    justify-content: space-between;
  }
}


.page-header--secondary  .main-navigation  {
  color: hsl(var(--clr-secondary-300));
}