.cite {
  padding-block-end: min(6.25vw, 5rem);
  min-height: 504px;

  &__wrapper {
    position: relative;
  }

  &__container {
    padding: 0;
    margin-block-start: 2rem;
    display: block;

    @media (min-width: 1024px) {
      margin-block-start: 0;
    }
  }

  &__text {
    box-sizing: content-box;
    padding-block: min(5vw, 4rem);
    padding-inline: min(8.75vw, 7rem);
    margin: 0;
    margin-block-end: min(3.75vw, 3rem);
    max-width: 60ch;
    font-family: var(--ff-secondary);
    font-style: italic;
    font-size: clamp(0.8rem, 1.5625vw, 1.25rem);
    font-weight: 400;
    line-height: 177%;
    color: hsl(var(--clr-white));
    background: hsl(var(--clr-secondary-100));
  }

  &__author {
    font-family: var(--ff-primary);
    font-style: normal;
    font-size: clamp(0.7rem, 1.25vw, 1rem);
    font-weight: 400;
    line-height: 160%;
    color: hsl(var(--clr-dark-300));

    @media (min-width: 1024px) {
      margin-inline-start: 5.5rem;
    }
  }

  &__accent {
    font-weight: 800;
    color: hsl(var(--clr-primary));
  }

  &__image-author {
    max-width: 460px;

    @media (min-width: 1024px) {
      position: absolute;
      right: 0;
      top: -6rem;
    }
  }

}