.subscribe {
  padding-block-start: 7rem;
  padding-block-end: 8rem;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    margin: 0;
    font-size: clamp(1.5rem, 3.125vw, 2.5rem);
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    color: hsl(var(--clr-dark-300));    
  }

  &__text {
    margin: 0;
    margin-block-start: 1.25rem;
    margin-block-end: 2.5rem;
    font-size: clamp(0.7rem, 1.25vw, 1rem);
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    color: hsl(var(--clr-dark-300));   
  }

  &__form {
    padding-block: 0.7rem;
    display: flex;
    justify-content: space-between;
    max-width: 31rem;
    width: 100%;
    border-bottom: 0.15rem solid hsl(var(--clr-light-grey));

    @media (min-width: 1024px) {

      padding-inline: 0.7rem;
      width: 50%;
    }
  }

  &__email {
    width: 65%;
    border: 0;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    color: hsl(var(--clr-dark-100));
    background: transparent;
  }

  &__email::placeholder {
    text-transform: uppercase;
  }

  &__button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 0.7rem;
    font-weight: 800;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: hsl(var(--clr-primary));
    border: 0;
    background: transparent;

    svg {
      margin-inline-start: 1.1rem;
      fill: hsl(var(--clr-primary));
    }
  }

}
