.about-features {
  ._container {
    padding-inline: 30px;
    max-width: 100%;
  }
  &__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(36, 1rem);
    grid-gap: 1rem 30px;
  }

  &__title {
    grid-column: 2/span 4;
    grid-row: 4/span 3;
  }

  &__table {
    grid-column: 2/span 7;
    grid-row: 14/span 19;
  }

  &__table-fields {
    max-width: 14ch;
    width: 33.333%;
  }

  &__table-value {
    max-width: 41ch;
    width: 66.666%;
  }

  &__image {
    position: absolute;
    grid-column: 10;
    grid-row: 7;
  }
}