.about-features {
  padding-block-start: 6.5rem;
  padding-block-end: 7rem;

  ._container-fluid {
    position: relative;
    padding-inline-end: 0;
  }

  &__wrapper {
  }

  &__title {
  }

  tbody {
  }

  &__table {
    width: 70%;
    border-collapse: collapse;
  }

  &__table-row {
    height: 13rem;
  }

  &__table-fields {
    width: 33.333%;
    background-color: hsl(var(--clr-white));
  }

  &__table-value {
    width: 66.666%;
    background-color: hsl(var(--clr-secondary-300));
  }

  &__image {
    display: none;
    position: absolute;
    top: 13rem;
    right: 0;
    max-width: 460px;
    height: auto;
  }
}