.services {
  padding-block-start: min(8.75vw, 7rem);
  padding-block-end: min(9.375vw, 7.5rem);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-secondary-400));

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__title {
    text-align: center;
  }

  &__subheader {
    margin-block-start: 1.25rem;
    margin-block-end: min(4.375vw, 3.5rem);
    max-width: 47ch;
    text-align: center;
  }

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: min(3.75vw, 3rem);
    list-style: none;
  }


  &__item {
    padding-block-start: 5rem;
    display: flex;
    flex-direction: column;
    min-height: 13.888rem;
    height: auto;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 4rem 4rem;

    &--webdesign {
      background-image: url("../img/axe.svg");
    }

    &--webdev {
      background-image: url("../img/brain-1.svg");

    }

    &--marketing {
      background-image: url("../img/rook.svg");
    }

    &--webdesign-2 {
      background-image: url("../img/skittles.svg");
    }

    &--webdev-2 {
      background-image: url("../img/brain-1.svg");
    }

    &--marketing-2 {
      background-image: url("../img/weigher-1.svg");
    }

    @media (min-width: 1024px) {

      width: calc(33.333% - 30px);
    }    
  }

  &__item-header {
    margin: 0;
    margin-block-end: 1.5rem;
    max-width: 39ch;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
  }

  .services__item--webdesign &__item-header {
    color: hsl(var(--clr-tetriary));
  }

  .services__item--webdev &__item-header {
    color: hsl(var(--clr-primary));
  }

  .services__item--marketing &__item-header {
    color: hsl(var(--clr-warning));
  }

  .services__item--webdesign-2 &__item-header {
    color: hsl(var(--clr-tetriary));
  }

  .services__item--webdev-2 &__item-header {
    color: hsl(var(--clr-primary));
  }

  .services__item--marketing-2 &__item-header {
    color: hsl(var(--clr-warning));
  }

  &__item-description {
    margin: 0;
    max-width: 39ch;
    width: 100%;
    font-size: 0.9rem;
    line-height: 160%;
  }

  &__button {
    margin-block-start: 4rem;
  }
}