.clients-2 {
  color: hsl(var(--clr-dark-300));

  &__wrapper {

    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(27, 1rem);
      grid-gap: 1rem 30px;
  
    }
  }

  &__title {

    @media (min-width: 1024px) {
      grid-column: 1/span 9;
      grid-row: 1/span 5;
        
    }
  }

  &__header {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
    line-height: 147%;
    color: hsl(var(--clr-primary));

    @media (min-width: 1024px) {
      grid-column: 1/span 6;
      grid-row: 13/span 2;
        
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (min-width: 1024px) {
      grid-column: 1/span 6;
      grid-row: 16/span 9;
        
    }
  }

  &__text {
    margin: 0;
    max-width: 51ch;
    width: 100%;
    font-size: 1rem;
    font-weight: normal;
    line-height: 160%;
    color: currentColor;
  }
  
  &__our {
    
    font-size: 0.7rem;
    font-weight: 800;
    line-height: 206%;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: currentColor;

    @media (min-width: 1024px) {
      grid-column: 8/span 3;
      grid-row: 10/span 1;  
      color: hsl(var(--clr-dark-300));
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 4rem;
    list-style: none;

    @media (min-width: 1024px) {
      
    grid-column: 8/span 6;
    grid-row: 13;
    }
  }

  &__item {
    text-align: center;
    
    svg {
      fill: hsl(var(--clr-primary));
    }
  }

  &--secondary {
    
    background: 
                linear-gradient(to bottom, hsl(var(--clr-secondary-100)) 16rem, transparent 16rem, transparent 100%),
                linear-gradient(to bottom, hsl(var(--clr-secondary-100)) 16rem, transparent 16rem, transparent 50rem, hsl(var(--clr-secondary-100)) 50rem, hsl(var(--clr-secondary-100)) 100%),
                linear-gradient(to right, hsl(var(--clr-secondary-100)) 50%, hsl(var(--clr-primary)) 50%, hsl(var(--clr-primary)) 100%);
    color: hsl(var(--clr-white));
  }

  &--secondary :is(&__our, &__title, &__header) {
    color: currentColor;
  }

  &--secondary &__item {
    svg {
      fill: hsl(var(--clr-white));
    }
  }

  @media (min-width: 1024px) {
    color: hsl(var(--clr-white));
    background: 
    linear-gradient(to bottom, white 16rem, transparent 16rem, transparent 100%),
    linear-gradient(to right, hsl(var(--clr-secondary-400)) 50%, transparent 50%, transparent 100%),linear-gradient(to bottom, white 16rem, transparent 16rem, transparent 50rem, hsl(var(--clr-secondary-300)) 50rem, hsl(var(--clr-secondary-300)) 100%);
  }
}