.skills {
  padding-block: min(12.5vw, 10rem);
  background: hsl(var(--clr-secondary-300));

  &__header {
    margin: 0;
    margin-block-end: 3.5rem;
    max-width: 45ch;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    line-height: 160%;
    color: hsl(var(--clr-white));
  }

  &__accent {
    display: block;
    margin-bottom: 1rem;
    font-size: 0.7rem;
    font-weight: 800;
    line-height: 206%;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: hsl(var(--clr-primary));
  }

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: min(5vw, 4rem);
    list-style: none;
  }

  &__item {
    padding-block: min(5vw, 4rem);
    padding-inline: min(2.5vw, 2rem);
    border: 0.1rem solid hsl(var(--clr-white)/0.2);

    @media (min-width: 768px) {
      width: calc(50% - 30px);
    }

    @media (min-width: 1024px) {
      width: calc(33.333% - 30px);
    }
  }

  &__item-header {
    margin: 0;
    margin-block-end: 0.7rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
    color: hsl(var(--clr-white));
  }

  &__item-accent {
    display: block;
    margin-bottom: 0.7rem;
    font-size: 1rem;
    font-weight: 800;
    line-height: 205%;
    letter-spacing: 0.2rem;
    color: hsl(var(--clr-primary));
  }

  &__item-text {
    margin: 0;
    max-width: 36ch;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 160%;
    color: hsl(var(--clr-white));
  }

  &--about {
    background: hsl(var(--clr-secondary-100));
  }

  &--about :is(&__item-accent) {
    display: none;
  }
}